.data {
  position: relative;
  padding: 12px 0;
  border-bottom: 1px solid #f1faff;
  span {
    padding-right: 15px;
  }
}
.artic-title {
  padding: 15px 0 ;
}
.img-wrapp {
  img {
    width: 100%;
    height: auto;
  }
}